<p style="margin-left: 10px">
	This is a service that uses computer vision to provide public data on the traffic of specific locations. <br>
	It uses anonymous motion detection algorithms above entrances to rooms or buildings that can count how many people are in a specific area. <br>
	It does this without storing footage or information about people, making it less intrusive than cctv cameras. 
	<br>

	<br><br>
	To access mock data use the access code: "studio41" and push go. (without the quotation marks) <br>
	Alternatively, use the access code: "extreme" to look at a view with multiple cameras. <br>
	Please note that the studio41 view is set to show data from the last week while the extreme page shows data from only the last 24h <br>

	 <br>

	To contact the owner regarding the installation of this service, please contact 

	<a href="mailto:bakerdale16@gmail.com?Subject=Contact from contact form" target="_top">bakerdale16@gmail.com</a>
</p>
<button mat-raised-button (click)="callParent()">Back</button>
