<p style="margin-left: 10px; margin-top: 10px; width: 90%">
	This is a service that uses computer vision to provide public data on the traffic of specific locations. 
	It uses anonymous motion detection algorithms above entrances to rooms or buildings that can count how many people are in a specific area. 
	It does this without storing footage or information about people, making it less intrusive than cctv cameras. 
	<br>

	<br>
	To access mock data for a gym with a single camera use the access code: "studio41" and push go. (without the quotation marks) 
	To look at a gym with multiple cameras use the access code: "extreme" 
	The extreme view also shows a prediction for the gym's population over the next 12 hours in its last graph. We are capable of adding machine learning predictions for gym traffic. <br>

	 <br>

	Please note that the studio41 view is set to show data from the last week while the extreme page shows data from only the last 24h (the amount of data shown and/or stored is customisable) <br>

	 <br>

	To contact the owner regarding the installation of this service, please contact 

	<a href="mailto:bakerdale16@gmail.com?Subject=Contact from contact form" target="_top">bakerdale16@gmail.com</a>
</p>
<button mat-raised-button (click)="callParent()">Back</button>


<img src="../../favicon.ico" width="50" height="50" style="  position: fixed; bottom: 30px; right: 30px;">
