<div *ngIf="(this.showContactPage ); else main_content">
  <app-contact (toggleAbout)="toggleAbout()"></app-contact>
</div>
<ng-template #main_content>
  <div id="card" *ngIf="(this.activeGym.getAddress() === ''); else other_content">
    <div style ="position:absolute;">
      <mat-card class="noPadding">
        <mat-card-content>
          <app-login></app-login>
          <p id="error_field">{{errorMessage}}</p>
        </mat-card-content>
      </mat-card>
    </div>
    <br>
    <div class="about_container_container">
      <div class="about_container">
        <button  (click)="toggleAbout()" mat-raised-button> contact/about </button>
      </div>
    </div>
  </div>
  <ng-template #other_content>
    <div class="maxAndCenter">

          <button (click)="logoutOfGym()" style="position: absolute; top: 10px; right: 10px;" mat-raised-button>Back</button>
          <app-gym-display class="maxAndCenter"></app-gym-display>

    </div>
  </ng-template>
</ng-template>

