#card {
  background-image: url("../assets/darkerAquaGym.png"); //cssduotone for editing 
  background-repeat:no-repeat;
  background-size:cover;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
}

#colour {
  background: rgba(111, 185, 214, .67);  //111. 185, 214
  background-repeat:no-repeat;
  background-size:cover;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
}

#gym-display {
  padding-left: 24px;

}

#error_field {
  text-align: center;
  vertical-align: text-top;
  vertical-align: super;
  margin-top: 0px;
  color: red;
}

.about_container {
  text-align: center;
  margin: auto;
}

.about_container_container {
  position: absolute;
  bottom: 10%; width:25%;
}


.noPadding {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-top: 12px;


}