/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
  height: 100%;
  width: 100%;

}

body {


}


.maxAndCenter {

  height: 100%;
  width: 100%;
  padding:0;
  border-width:0;
  display:block;
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;      
}


.almostMaxAndCenter {

  height: 90%;
  width: 90%;

  align-items: center;
  justify-content: center;
}


.mat-tab-body-wrapper {
  flex-grow: 1;

}


